.parallax
  .parallax__layer(data-speed='0.01')
    img(src=require("images/content/one_b.png"), class="parallax__image")
  .parallax__layer(data-speed='0.015')
    img(src=require("images/content/two_b.png"), class="parallax__image") 
  .parallax__layer(data-speed='0.02')
    img(src=require("images/content/three_b.png"), class="parallax__image")  
  .parallax__layer(data-speed='0.025')
    img(src=require("images/content/four_b.png"), class="parallax__image") 
  .parallax__layer
    img(src=require("images/content/five_b.png"), class="parallax__image") 
  .parallax__layer
    img(src=require("images/content/six_b.png"), class="parallax__image") 
  .parallax__layer
    img(src=require("images/content/seven_b.png"), class="parallax__image")