.parallax.parallax_budda
  .parallax_budda__layer
    img(src=require("images/content/one_budda.png"), class="parallax__budda-pic")
  .parallax_budda__layer(data-speed='0.01')
    img(src=require("images/content/two_budda.png"), class="parallax__budda-pic") 
  .parallax_budda__layer(data-speed='0.014')
    img(src=require("images/content/three_budda.png"), class="parallax__budda-pic")
  .parallax_budda__layer(data-speed='0.01')
    img(src=require("images/content/four_budda.png"), class="parallax__budda-pic") 
  .parallax_budda__layer
    img(src=require("images/content/five_budda.png"), class="parallax__budda-pic") 
  .parallax_budda__layer
    img(src=require("images/content/six_budda.png"), class="parallax__budda-pic")
  .parallax_budda__layer
    img(src=require("images/content/seven_budda.png"), class="parallax__budda-pic")
  .parallax_budda__layer
    img(src=require("images/content/eight_budda.png"), class="parallax__budda-pic")