include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent(style=`background-image: url('${require('images/content/budda.jpg')}')`)
        .parallax(style=`background-image: url('${require('images/content/hero_back.jpg')}')`)
          section.hero
            .container
              .hero__content
                header.header
                  .logo ЕТ
                  nav.header__nav
                    ul.nav__list
                      li.nav__item
                        a(href="#").nav__link Главная
                      li.nav__item
                        a(href="#").nav__link Обо мне
                      li.nav__item
                        a(href="#").nav__link Навыки
                      li.nav__item
                        a(href="#").nav__link Работы
                      li.nav__item
                        a(href="#").nav__link Отзывы
                      li.nav__item
                        a(href="#").nav__link Связаться
                  .social
                    ul.social__list
                      li.social__item
                        a(href="#").social__link 
                          +icon('insta', 'social__icon')
                      li.social__item
                        a(href="#").social__link 
                          +icon('vk', 'social__icon')
                      li.social__item
                        a(href="#").social__link 
                          +icon('github', 'social__icon')
              .hero__info
                h1.title.hero_title Личный сайт <br> веб разработчика
                .hero__info-name Елена <br> Тарабукина
              .scroll
                .scroll__text Скролл
                  a(href="#").scroll__link      
                    +icon('scroll', 'scroll__icon')    
          section.aboutMe
            .container.aboutMe_container
              .aboutMe__content
                .aboutMe__photo
                  img(src= require("images/content/me.jpg"), class="aboutMe__pic")
                .aboutMe__info
                  table.table
                    tr.table__row
                      td.table___cell_left Проживаю:
                      td.table___cell Екатеринбург
                    tr.table__row
                      td.table___cell_left Возраст:
                      td.table___cell 27 лет
                    tr.table__row
                      td.table___cell_left Родилась:
                      td.table___cell 15 ноября 1991
              .aboutMe__text
                h2.title Привет, меня зовут  
                .aboutMe__text-name Елена Тарабукина
                .aboutMe__text-content Я занимаюсь разработкой современных сайтов и приложений.<br> Мне нравится делать интересные и современные проекты.
                .aboutMe__text-note Этот сайт, я сделала в рамках обучения в Школе онлайн образования <br> Loftschool. Чуть позже я освежу в нем свой контент. А пока <br> посмотрите  как тут все классно и красиво!
          section.skills
            img(src=require("images/content/backpack.png"), class="skills__pic") 
            .container.skills__container
              h2.title.skills_title Чем я могу быть полезна вам
              .skills__text Этот сайт я сделала в рамках обучения в Школе онлайн образования <br> Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите <br>как тут все классно и красиво!
              .skills__block
                .skills__block-title Front-end
                .skills__row
                    .skills__item
                      .skills__name HTML5
                      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
                        circle(cx="50", cy="50", r="40").circle.circle__under
                        circle(cx="50", cy="50", r="40", style="animation-delay: -125s", stroke="url(#gradient)").circle.circle__above
                        linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                    .skills__item
                      .skills__name CSS3
                      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
                        circle(cx="50", cy="50", r="40").circle.circle__under
                        circle(cx="50", cy="50", r="40", style="animation-delay: -15s", stroke="url(#gradient)").circle.circle__above
                    .skills__item
                      .skills__name JavaScript
                      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
                        circle(cx="50", cy="50", r="40").circle.circle__under
                        circle(cx="50", cy="50", r="40", style="animation-delay: -75s", stroke="url(#gradient)").circle.circle__above
                    .skills__item
                      .skills__name jquery и Vue.js
                      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
                        circle(cx="50", cy="50", r="40").circle.circle__under
                        circle(cx="50", cy="50", r="40", style="animation-delay: -25s", stroke="url(#gradient)").circle.circle__above
                .skills__block-title Workflow
                .skills__row    
                    .skills__item
                      .skills__name GIT
                      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
                        circle(cx="50", cy="50", r="40").circle.circle__under
                        circle(cx="50", cy="50", r="40", style="animation-delay: -15s", stroke="url(#gradient)").circle.circle__above
                    .skills__item
                      .skills__name Terminal
                      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
                        circle(cx="50", cy="50", r="40").circle.circle__under
                        circle(cx="50", cy="50", r="40", style="animation-delay: -25s", stroke="url(#gradient)").circle.circle__above
                    .skills__item
                      .skills__name Gulp
                      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
                        circle(cx="50", cy="50", r="40").circle.circle__under
                        circle(cx="50", cy="50", r="40", style="animation-delay: -50s", stroke="url(#gradient)").circle.circle__above
                    .skills__item
                      .skills__name Webpack  
                      svg.percentage(viewBox="0 0 100 100", preserveAspectRatio="none")
                        circle(cx="50", cy="50", r="40").circle.circle__under
                        circle(cx="50", cy="50", r="40", style="animation-delay: -40s", stroke="url(#gradient)").circle.circle__above
          section.works 
            .container.works__container
              h2.title.works__title Мои работы 
              .works__slider 
                .works__slider-col.col_left
                  .works__slider-img
                    img(src= require("images/content/preview.jpg"), class="slider_pic_max")  
                    ul.slider__list
                      li.slider__item
                        img(src=require("images/content/pre_min_one.jpg"), class="slider_pic_min") 
                      li.slider__item
                        img(src=require("images/content/pre_min_two.jpg"), class="slider_pic_min") 
                      li.slider__item
                        img(src=require("images/content/pre_min_three.jpg"), class="slider_pic_min") 
                      li.slider__item.slider__item_active 
                        img(src=require("images/content/pre_min_four.png"), class="slider_pic_min") 
                    button(type="button").arrow__left 
                      +icon('arrow-down', 'arrow__left-icon')
                    button(type="button").arrow__right
                      +icon('arrow-down', 'arrow__right-icon')
                .works__slider-col
                  .works__slider-text
                    ul.slider__list-text
                      li.slider__item-text HTML
                      li.slider__item-text CSS
                      li.slider__item-text Javascript
                  .works__slider-title Сайт школы образования
                  .works__slider-desc Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых сложных испытаний и бесонных ночей! 
                  .works__slider-link
                   
                    a(href="#").slider_link
          section.reviews
            .container
              .reviews__container
                h2.title.reviews__title Что обо мне говорят 
                button(type="button").arrow__left_round
                  +icon('arrow-down', 'arrow__left-icon')
                button(type="button").arrow__right_round
                  +icon('arrow-down', 'arrow__right-icon')
                ul.reviews__list 
                  li.reviews__item
                    .reviews__text 
                      p.reviews__desc Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .autor
                      .autor__photo
                        img(src=require("images/content/dima.png"), class="autor__photo-pic")  
                      .autor__desc
                        .autor__name Ковальчук Дмитрий
                        .autor__proff Основатель Loftschool
                  li.reviews__item
                    .reviews__text 
                      p.reviews__desc Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                    .autor
                      .autor__photo
                        img(src=require("images/content/vova.png"), class="autor__photo-pic")  
                      .autor__desc
                        .autor__name Владимир Сабанцев
                        .autor__proff Преподаватель
          section.contacts
            .container.contact__container
              h2.title.contacts__title Связаться со мной
              form.form(action="#")
                .form__row
                  .username
                    label(for="username").form__block-title Введите ваше имя
                    .input
                      +icon('avatar', 'form__block-icon')
                      input(id="username" type="text" name="name" placeholder="Ковальчук Дмитрий").form__block-input
                  .email
                    label(for="email").form__block-title Введите ваш email
                    .input
                      +icon('envelope', 'form__block-icon')
                      input(id="email" type="text" name="email" placeholder="loftschool@study.com").form__block-input
                .form__row.form__flex
                  label(for="comment").form__block-title Сообщение к письму
                  .input
                    +icon('chat', 'form__block-icon')
                    textarea(id="comment" name="comment" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").form__block-input.form__block-input-textarea
              button(type="submit").button Отправить
          footer.footer
            .container.footer__container
              .copyrights
                .copyrights__col
                  .copyrights__year © 2019
                .copyrights__col
                  .copyrights__name Елена <br> Кулешова
                  .copyrights__text Личный сайт <br> веб-разработчика
              .footer__content
                nav.footer__menu
                  ul.nav__list
                    li.nav__item 
                      a(href="#").nav__link Главная
                    li.nav__item 
                      a(href="#").nav__link Обо мне
                    li.nav__item 
                      a(href="#").nav__link Навыки
                    li.nav__item 
                      a(href="#").nav__link Работы
                    li.nav__item 
                      a(href="#").nav__link Отзывы
                    li.nav__item 
                      a(href="#").nav__link Связаться
                .footer__content-desc
                  .footer__col
                    .footer__content-text Этот сайт я сделала в рамках обучения в <br> Школе онлайн образования Loftschool
                    .footer__social
                      ul.social__list
                        li.social__item
                          a(href="#").social__link.footer__link
                            +icon('insta', 'social__icon')
                        li.social__item
                          a(href="#").social__link.footer__link
                            +icon('vk', 'social__icon')
                        li.social__item
                          a(href="#").social__link.footer__link
                            +icon('github', 'social__icon')
                  .footer__col.footer__col_padding
                    .quote Всегда пишите код так, будто сопровождать его будет <br> склонный к насилию психопат, который знает где вы <br> живете
                    .quote__autor Martin Golding
